################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CinemaApi/.vs/CinemaApi/v16
/CinemaApi/bin
/CinemaApi/obj
/CinemaApi/Properties
